# Core functionality - changes here should be rare!
/src/app.py                   @rabindra-maharana
/src/backend/database.py      @rabindra-maharana
/src/backend/routers/auth.py  @rabindra-maharana

# The frontend will need refactored soon to be more object oriented.
/src/static/   @rabindra-maharana
